# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

screen_monitor/x64/Debug/

*.json

remotesemaphore/.vs/remotesemaphore/v17/

remotesemaphore/readme/images/

*.sln

*.log

remotesemaphore/remotesemaphore/obj/x64/Debug/remotesemaphore.tlog/

screen_monitor/.vs/screen_monitor/v17/

screen_monitor/screen_monitor/x64/Debug/screen_monitor.tlog/

screen_monitor/screen_monitor/x64/Debug/

remotesemaphore/remotesemaphore/

*.vcxproj

*.filters

*.user
